.servicos-bg {
    background-color: #fff;
}

.servicos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    background-color: #fff;
    color: #082631;
    margin: 0 auto;
    justify-content: center;
}

.areas-container {
    flex: 1;
    max-width: 1000px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}


.areas-container .areas-atuacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}